@media screen and (max-width: 599px) {
  .res-onboarding-title {
    text-align: center !important;
    font-size: 2rem !important;
  }

  .res-onboarding-desc {
    text-align: center !important;
    font-size: 1rem !important;
  }
}
